@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --montserrat: 'Montserrat';
    --white: #FFFFFF;
    --black: #05050F;
    --bluedark: #161642;
    --white2: #05050F00;
    --yellow: #DDD627;
    --white3: #F7F7F7;
    --purple: #272775;
}

/* grids 1240*/
.w__1240 {
    width: 100%;
    max-width: 77.5rem;
    margin: 0 auto;
}

/* grids 820*/
.w__820 {
    width: 100%;
    max-width: 51.25rem;
    margin: 0 auto;
}

/* ========================== Menu Desktop ============================ */
/* Nav-Desktop */
.c-menu {
    background-color: var(--bluedark);
}

.nav-container {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.nav-bar {
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: center;
    margin-top: 30px;
    margin: 0;
    padding: 0;
}

nav img {
    cursor: pointer;
    width: auto;
    height: 60px;
    margin-top: 20px;
    margin-right: auto;
}

nav a {
    font-family: var(--montserrat);
    color: var(--yellow);
    text-decoration: none;
    line-height: 40px;
    font-size: 21.008px;
    font-weight: 600;
    cursor: pointer;
}

nav a:hover {
    color: #4949DB;
}

/* ========================== Menu Mobile ============================ */
.mobile-menu {
    display: none;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: var(--yellow);
    font-size: 30px;
}

.container__menu--mobile {
    background-color: var(--purple);
    text-align: center;
    height: 100%;
    content: '';
    transition: 500ms ease;
    border-radius: 5px;
}

.container__menu--mobile.active {
    position: absolute;
    z-index: 99;
    background-color: var(--purple) !important;
    display: block;
    width: 99%;
    height: 350px;
    top: 2.375rem;
    text-align: center;
}

.icon-line__menu {
    position: relative;
    background-color: var(--yellow) !important;
    display: block;
    width: 30px;
    height: 5px;
    top: -32px;
    right: 25px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
    border-radius: 5px;
}

.icon__menu--mobile {
    display: none;
    position: absolute;
    right: 25px;
    margin-top: 20px;
}

.icon-line__menu:before,
.icon-line__menu:after {
    width: 30px;
    background-color: var(--yellow) !important;
}

.icon-line__menu:before {
    top: -10px;
}

.icon-line__menu:after {
    top: 10px;
}

.icon-line__menu:before,
.icon-line__menu:after {
    background-color: var(--black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: 500ms ease;
    border-radius: 5px;
}


@media (max-width: 1160px) {

    #nav_mobile {
        flex-direction: column;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        top: 0;
        z-index: 99;
        width: 290px;
        right: 0;
        flex-direction: column !important;
        text-align: center;
        background-color: var(--purple);
        gap: 0;
        overflow: hidden;
        padding: 15px 15px 40px 15px;
        border-radius: 0px 0px 0px 16px;
        
    } 

    #btn-mobile {
        display: block;
    }

    nav a {
        display: block;
        text-align: right;

    } 

    .nav-bar {
        display: none !important;
    }

}

@media (min-width: 46.5rem) and (max-width: 72.0625rem) {
    .c-emphasis__item button {
        margin-top: 403.008px !important;
    }

    .c-emphasis__item h1 {
        margin-top: 106px !important
    }

    .settings__div-other input {
        width: 135px;
        display: flex;
        height: 40px;
    }

    .input-box input {
        width: 340px !important;
    }

    .settings__div-other input {
        width: 10.0625rem !important;
        height: 2.5rem;
    }

    .settings__div-alternative input {
        width: 221px !important;
        height: 40px;
    }

    .c-form {
        height: 100vh !important;
    }

    .form button {
        margin-top: 2.188rem !important;
        margin-left: -2rem !important;
        width: 8.75rem;

    }

    .c-form_button{
        margin-left: 20rem;
    }

    .form__settings {
        margin-left: 4.0625rem;
    }
} 

/* ========================== First Section ============================ */
.c-emphasis__item {
    display: flex;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-emphasis__item h1 {
    position: absolute;
    text-align: start;
    color: var(--white3);
    font: normal normal bold 4.5rem/5rem Montserrat;
    margin-top: 170px;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 72px;
}

.c-emphasis__item button {
    background-color: var(--yellow);
    margin-top: 435.008px;
    padding: 8px 48px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
}

.c-emphasis__item button:hover {
    background-color: var(--purple);
    color: var(--white);
}

.c-emphasis_carousel .owl-nav.disabled {
    display: block !important;
}

.c-emphasis_carousel .owl-nav button.owl-next {
    width: 30px;
    height: 30px;
    background-color: var(--yellow) !important;
    position: absolute;
    border-radius: 70px !important;
    right: 80px;
    top: 35%;
    background-repeat: no-repeat !important;
    background-size: 20px 20px !important;
}

.c-emphasis_carousel .owl-theme .owl-nav {
    margin-top: 0 !important;
}

.c-emphasis_carousel .owl-nav button.owl-prev {
    display: none !important;
}

/* ========================== Second Section ============================ */
.c-text {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.align-items-center {
    align-items: center;
    justify-content: center;
}

.content-text h2 {
    color: var(--yellow);
    height: 44px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 24px;
    text-align: center;
}

.content-text p {
    color: var(--white);
    font: normal normal medium 1.125rem/1.375rem Montserrat;
}

/* ========================== Three Section ============================ */
.c-accordion {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title h2 {
    color: var(--yellow);
    font-size: 36px;
    height: 44px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 24px;
    text-align: center;
}

button.accordion-button {
    background-color: var(--bluedark) !important;
}

.accordion-body {
    background-color: var(--purple);
}

.accordion-body p {
    color: var(--white) !important;
    font-size: 1rem;
}

.accordion-button {
    background-color: var(--yellow) !important;
    padding-top: 21.008px;
    padding-bottom: 21.008px;
    position: relative;
    color: var(--yellow) !important;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    cursor: pointer;
}

.accordion-item {
    border-bottom: .96px solid var(--bluedark) !important;
    border-radius: 4.8px !important;
}

/* ================================ Carousel Cavaleiros =============================== */
.c-carousel {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.c-carousel__text p {
    position: relative;
    font-size: 21.008px;
    color: var(--white);
    text-align: start;
    letter-spacing: 0rem;
    opacity: 1;
    text-align: center;
}

.personagens__carrosel {
    display: flex;
}

.personagens__carrosel .owl-stage {
    display: flex;
    gap: .625rem;
}

.personagens__carrosel .box-shadow {
    width: 100%;
    height: 190px;
    background: linear-gradient(to bottom, rgba(5, 5, 15, 0), rgba(5, 5, 15, 1));
}

.personagens__carrosel .item {
    width: 190px !important;
    height: 380px;
}

/* ================================ FANCYBOX =============================== */
.c-home {
    background-color: var(--black);
}

.home__carousel img {
    width: 820px;
    height: 460px;
}

.color_alternative {
    color: var(--yellow);
}

.home__text p {
    color: var(--white);
}

/* ================================ FORM =============================== */
.c-form {
    background-color: var(--black);
    display: flex;
    width: 100%;
    height: 100vh;
}

.form p {
    color: var(--white3);
}

.input-box p {
    font: normal normal 600 1rem/1.1875rem Montserrat;
    letter-spacing: 0rem;
    font-size: 16px;
    color: var(--white);
    opacity: 1;
}

.input-box input {
    background-color: var(--purple);
    width: 400px;
    height: 40px;
}

.form__settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.settings__div {
    display: flex;
    gap: 20px;
}

.settings__div-other input {
    width: 190px;
    height: 40px;
}

.settings__div-alternative {
    gap: 20px;
}

.settings__div-alternative input#sangue {
    width: 190px;
    height: 40px;
}

.settings__div-alternative input {
    width: 295.008px;
    height: 40px;
}

.c-form_button {
    margin-left: 5rem;
}

.form button {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    background-color: var(--yellow);
    margin-top: 35.008px;
    margin-left: 300px;
    border: none;
    height: 40px;
    font-weight: 600;
    font-size: 24px;
    border-radius: 30px;
}

/* ================================ FOOTER =============================== */
.c-footer {
    background-color: var(--bluedark);
    padding: 35px 0px;
}

.main-940 {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    margin-right: 20px;
    gap: 80px;
}

.main-940 p {
    font-family: var(--montserrat);
    color: var(--yellow);
    text-decoration: none;
    line-height: 40px;
    font-size: 21px;
    cursor: pointer;
    margin-right: 20px;
    font-weight: 500;
}