@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --montserrat: 'Montserrat';
    --white: #FFFFFF;
    --black: #05050F;
    --bluedark: #161642;
    --white2: #05050F00;
    --yellow: #DDD627;
    --white3: #F7F7F7;
    --purple: #272775;
}

/* ========================== Menu Desktop ============================ */
/* Nav-Desktop */
.nav-container {
    height: 100px;
    background-color: var(--bluedark);
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 30px;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav img {
    cursor: pointer;
    width: auto;
    height: 60px;
    margin-top: 20px;
    margin-right: auto;
}

nav a {
    font-family: var(--montserrat);
    color: var(--yellow);
    text-decoration: none;
    line-height: 40px;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
}

nav a:hover {
    color: #4949DB;
}

/* ========================== Menu Mobile ============================ */
.mobile-menu {
    display: none;
}

.icon-line__menu {
    position: relative;
    background-color:var(--yellow);
    display: block;
    width: 30px;
    height: 3px;
    z-index: 1;
    border: 2px solid var(--yellow);
    border-radius: 5px;
}

.icon__menu--mobile {
    position: absolute;
    z-index: 99;
    right: 0;
    top: -22px;
    right: 25px;
}

.icon__menu--mobile::after,
.icon__menu--mobile::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid var(--yellow);
    border-radius: 5px;
}

.container__menu--mobile {
    z-index: 99;
    padding: 15px;
    display: none;
    width: 100%;
    height: 250px;
    text-align: center;
}

.container__menu--mobile.active {
    position: absolute;
    z-index: 99;
    background-color: black;
    padding: 15px;
    display: block;
    width: 100%;
    height: 45px;
    text-align: center;
}

@media (max-width: 1153px) {
    .mobile-menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 59px;
    }

    #menu {
        display: none;
    }
}


/* ========================== First Section ============================ */
